$color-result:#272643;
$color-result-text: #2c698d;
$color-body:#EBF1F4;
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    background-color: $color-body;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

h3 {
    font-size: 20px;
    color: $color-result;
}

.result {
    font-size: 16px;
    color: $color-result-text;
}

#Polarity {
    padding: 1rem;
}

#Subjectivity {
    padding: 1rem;
}

#PolarityConfidence {
    padding: 1rem;
}

#SubjectivityConfidence {
    padding: 1rem;
}